@charset "UTF-8";

body {
	width: 100%;
	margin: 0;
	background-color: #FFF;
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica;
	color: #333;
}

a {
	text-decoration: none;
	color: #333;
}

/*
==============================
         KEYFRAMES
==============================
*/

@-webkit-keyframes fade {
	from { opacity: 0; }
	50% { opacity: .5; }
	to { opacity: 1; }
}

@-moz-keyframes fade {
	from { opacity: 0; }
	50% { opacity: .5; }
	to { opacity: 1; }
}

@keyframes fade {
	from { opacity: 0; }
	50% { opacity: .5; }
	to { opacity: 1; }
}

/*
==============================
           LISTS
==============================
*/

.li-long, a.li-long {
	margin-bottom: 5px;
	list-style: none;
	padding: 10px;
	border: 1px solid #CCC;
	background-color: #FFF;
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	-ms-transition: background-color .2s linear;
	-o-transition: background-color .2s linear;
	transition: background-color .2s linear;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.li-long:hover {
	background-color: #F6F6F6;
	box-shadow: none;
}

.li-long:active {
	background-color: #EEE;
}

ul {
	margin: 0;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

/*
==============================
           TITLE
==============================
*/

.bigtitle {
	padding: 10px;
	border-bottom: 1px solid #CCC;
}

/*
==============================
          VERSION
==============================
*/

.version {
	text-align: center;
	margin-bottom: 10px;
}

/*
==============================
          HEADERS
==============================
*/

h1, h2, h3, h4, h5, h6 {
	color: #333;
	margin: 0;
	font-weight: 900;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}

/*
==============================
           shit
==============================
*/

.wrapper {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	margin-top: 20px;
	margin-bottom: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.button, a.button {
	display: inline-block;
	text-align: center;
	padding: 10px 0px;
	border: 1px solid #CCC;
	border-right: none;
	width: 24%;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}

a.button:hover, .button:hover {
	box-shadow: inset 0px 0px 5px #66cc33;
}

.button:first-child, a.button:first-child {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.button:last-child, a.button:last-child {
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-right: 1px solid #CCC;
}

.buttontitle {
	display: inline-block;
	font-size: 14px;
}

.buttontext {
	display: inline-block;
	color: #66cc33;
}

.cloneme {
	font-size: 12px;
	display: inline-block;
	font-weight: 400;
	background-color: #FFF;
	border: 1px solid #CCC;
	padding: 5px;
	box-shadow: inset 0px 1px 1px #CCC;
	font-family: Monospace;
	float: right;
}

.md {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #FFF;
	box-shadow: inset 0px 0px 5px #CCC;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: none;
	opacity: 0;
}

.readmebitch {
	text-align: center;
	padding: 20px;
}

a.hideornot {
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
	border: 1px solid #CCC;
}

.md a {
	color: #66cc33;
}

.md a:hover {
	color: #000;
}

.md li a {
	color: #000;
}

.md:target {
	background-color: #FFF;
	-webkit-animation: fade .2s linear;
	-moz-animation: fade .2s linear;
	animation: fade 1s linear;
	display: block;
	opacity: 1;
}

.view-file {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.container {
	font-family: monospace;
	font-size: 12px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.line, a.line {
	color: #CCC;
}

a.line:hover {
	color: #66cc33;
}

.content, .numbers {
	
}

.numbers {
	padding: 5px;
	float: left;
	color: #CCC;
	width: auto;
	position: absolute;
	text-align: right;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #FFF;
}

:target {
	background-color: #e0f4d6;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.content {
	padding: 5px 5px 5px 35px;
	display: inline-block;
	white-space: pre;
	overflow: auto;
	width: 100%;
	background-color: #FFF;
}

.log {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 10px;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.md:hover, .loggy:hover, a.hideornot:hover {
	box-shadow: inset 0px 0px 5px #66cc33;
}

.loggy-owner:hover {
	box-shadow: inset 0px 0px 8px #66cc33;
}

.loggy:target, .loggy-owner:target {
	background-color: #e0f4d6;
}

.holdem {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

.loggy {
	padding: 10px;
	font-family: monospace;
	border: 1px solid #CCC;
	margin-bottom: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.loggy-owner {
	padding: 10px;
	font-family: monospace;
	border: 1px solid #66cc33;
	margin-bottom: 5px;
	box-shadow: inset 0px 0px 3px #66cc33;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.SHA {
	display: inline-block;
	color: #438A20;
}

.SHA-owner {
	display: inline-block;
	color: #438A20;
}
