@charset "UTF-8";

body {
	width: 100%;
	margin: 0;
	background-color: #002b36;
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica;
	color: #657b83;
}

a {
	text-decoration: none;
	color: #839496;
	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
	-ms-transition: color .2s linear;
	-o-transition: color .2s linear;
	transition: color .2s linear;
}

/*
==============================
         KEYFRAMES
==============================
*/

@-webkit-keyframes fade {
	from { opacity: 0; }
	50% { opacity: .5; }
	to { opacity: 1; }
}

@-moz-keyframes fade {
	from { opacity: 0; }
	50% { opacity: .5; }
	to { opacity: 1; }
}

@keyframes fade {
	from { opacity: 0; }
	50% { opacity: .5; }
	to { opacity: 1; }
}

/*
==============================
          TABLES
==============================
*/

table {
	border-collapse: collapse;
	margin: auto;
	width: 510px;
}

th {
	background-color: #002b36;
	padding: 10px;
	border: 1px solid #93a1a1;
}

td {
	padding: 10px;
	background-color: #073642;
	border: 1px solid #93a1a1;
}

/*
==============================
           ABOUT
==============================
*/

.about {
	margin: 15px auto;
	width: 70%;
	padding: 10px;
	border: 1px solid #EEE;
}

.center {
	text-align: center;
}

/*
==============================
           LISTS
==============================
*/

.li-long, a.li-long {
	margin-bottom: 5px;
	list-style: none;
	padding: 10px;
	border: 1px solid #93a1a1;
	background-color: #002b36;
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	-ms-transition: background-color .2s linear;
	-o-transition: background-color .2s linear;
	transition: background-color .2s linear;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.li-long:hover {
	background-color: #073642;
	box-shadow: none;
}

.li-long:active {
	background-color: #0f404d;
}

ul {
	margin: 0;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

/*
==============================
           TITLE
==============================
*/

.bigtitle {
	padding: 10px;
	border-bottom: 1px solid #93a1a1;
}

/*
==============================
          VERSION
==============================
*/

.version {
	text-align: center;
	margin-bottom: 10px;
}

/*
==============================
          HEADERS
==============================
*/

h1, h2, h3, h4, h5, h6 {
	color: #93a1a1;
	margin: 0;
	font-weight: 900;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}

/*
==============================
           LOGS
==============================
*/

.log {
	margin: auto;
	padding: 10px 10px 0px 10px;
	width: 520px;
	text-align: left;
}

.loggy, .loggy-owner {
	margin: auto;
	width: 490px;
	padding: 10px;
	font-family: monospace;
	border: 1px solid #93a1a1;
	margin-bottom: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	-ms-transition: background-color .2s linear;
	-o-transition: background-color .2s linear;
	transition: background-color .2s linear;
}

.loggy-owner {
	border: 1px solid #839496;
}

.loggy:hover, .loggy-owner:hover {
	background-color: #073642;
}

.loggy:active, .loggy-owner:active {
	background-color: #0f404d;
}

.loggy:target, .loggy-owner:target {
	background-color: #0f404d;
}

.SHA, .SHA-owner {
	display: inline-block;
	color: #859900;
}

/*
==============================
         GITPAGE
==============================
*/

.wrapper {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	margin-top: 20px;
	margin-bottom: 10px;
}

.bar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	margin-top: 5px;
	padding: 5px;
	color: #657b83;
	background-color: #073642;
	border: 1px solid #93a1a1;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .08);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .08);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .08);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
}

.bar:focus, .bar:hover {
	border-color: #657b83;
	outline: none !important;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3);
}

.buttons {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 500px;
}

.button {
	border: 1px solid #93a1a1;
	padding: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	-ms-transition: background-color .2s linear;
	-o-transition: background-color .2s linear;
	transition: background-color .2s linear;
}

.button:hover {
	background-color: #073642;
}

.button:active {
	background-color: #0f404d;
}

.readmebitch {
	display: inline-block;
}

.left {
	text-align: left;
	width: 300px;
}

/*
==============================
           README
==============================
*/

.md {
	margin: 20px auto;
	width: 70%;
	padding: 10px;
	display: none;
	opacity: 0;
	border: 1px solid #93a1a1;
	text-align: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.md a {
	color: #859900;
}

.md a:hover {
	color: #000;
}

.md:target {
	background-color: #002b36;
	-webkit-animation: fade .2s linear;
	-moz-animation: fade .2s linear;
	animation: fade 1s linear;
	display: block;
	opacity: 1;
}

/*
==============================
           FILE
==============================
*/

.wrap {
	margin: auto;
	width: 80%;
}

/**
 * Solarized Dark theme
 *
 * Adaptation of Solarized Dark from ethanschoonover.com/solarized
 *
 * @author Ethan Schoonover
 * @author David Litmark
 * @version 1.0.0
 */
pre {
    background: #002b36; /* base03 */
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: #839496; /* base0 */
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: #586e75; /* base01 */
}

pre .constant {
    color: #839496; /* base0 */
}

pre .constant.language {
    color: #268bd2; /* blue */
}

pre .constant.regexp {
    color: #2aa198; /* cyan */
}

pre .storage {
    color: #268bd2; /* blue */
}

pre .string, pre .comment.docstring {
    color: #2aa198; /* cyan */
}

pre .support.tag.script, pre .support.tag.style {
    color: #2aa198; /* cyan */
}

pre .string.regexp {
    color: #2aa198; /* cyan */
}

pre .string.regexp.open, pre .string.regexp.close {
    color: #2aa198; /* cyan */
}

pre .keyword, pre .selector {
    color: #859900; /* green */
}

pre .inherited-class {
    font-style: italic;
}

pre .entity {
    color: #b58900; /* yellow */
}

pre .support, *[data-language="c"] .function.call {
    color: #859900; /* green */
}

pre .support.method {
    color: #839496; /* base0 */
}

pre .support.property {
    color: #839496; /* base0 */
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: #839496; /* base0 */
}
