<!DOCTYPE html>
<html>
  <head>
    <title>{{.Owner}} [Grove]</title>
    <link rel="stylesheet" href="{{.Prefix}}/res/{{.Theme}}.css"/>
  </head>
  <body>

    <h1 class="center">Grove</h1>

    <div class="about">
      <h3>Nothing to See Here</h3>
      {{.Owner}} isn't allowing web browsing. If you have the
      link, you can still clone repositories from here, though.
    </div>

    <div class="version">
      <a href="https://github.com/SashaCrofter/grove">
        Grove {{.Version}}
      </a>
    </div>

  </body>
</html>
