<!DOCTYPE html>
<html>
	<head>
		<title>{{.Owner}} [Grove]</title>
		<link rel="stylesheet" href="/res/style.css"/>
	</head>
	<body>
    
    	<div class="bigtitle">
			<h5>{{.Path}}{{.Location}}</h5>
		</div>
    	
        <ul>
            {{range $l := .List}}
                <a href="{{$l.URL}}"><li class="li-long">{{$l.Name}}</li></a>
            {{end}}
        </ul>
        
        <div class="version">
          <a href="https://github.com/SashaCrofter/grove">
        	Version {{.Version}}
          </a>
        </div>
	</body>
</html>
