<!DOCTYPE html>
<html>
  <head>
    <title>{{.Owner}} [Grove]</title>
    <link rel="stylesheet" href="{{.Prefix}}/res/{{.Theme}}.css"/>
    <script type="text/javascript" src="{{.Prefix}}/res/rainbow.js"></script>
    <script type="text/javascript">
      hljs.tabReplace = '    ';
      hljs.initHighlightingOnLoad();
    </script>
  </head>
  <body>

    <div class="bigtitle">
      <h5><a href="..">.. / </a>{{.InRepoPath}}{{.Query}}</h5>
    </div>

    <div class="wrapper">
      <table>
        <th>Branch</th>
        <th>Tags</th>
        <th>Commits</th>
        <th>SHA</th>
        <tr>
          <td>{{.Branch}}</td>
          <td>{{.TagNum}}</td>
          <td>{{.CommitNum}}</td>
          <td>{{.SHA}}</td>
        </tr>
      </table>

      <input type="text" value="{{.RootLink}}{{.Path}}{{.GitDir}}" class="bar" onClick="select();"/>
    </div>

    <div class="wrap">
      <pre>
	{{.Content}}
      </pre>
    </div>

    <div class="version">
      <a href="https://github.com/SashaCrofter/grove">
        Grove {{.Version}}
      </a>
    </div>

  </body>
</html>
