<html>
	<head>
		<title>{{.Owner}} [Grove]</title>
		<style type="text/css"> {{.CSS}} </style>
	</head>
	<body>
    
		<div class="title">
			<a href="http://{{.Host}}{{.Path}}/..">.. / </a>{{.BasePath}}{{.Location}}
			<div class="cloneme">
				{{.URL}}{{.GitDir}}
			</div>   
		</div>
		
		<div class="wrapper">
			<div class="button"><div class="buttontitle">Developer's Branch</div><br/><div class="buttontext">{{.Branch}}</div></div><div class="button"><div class="buttontitle">Tags</div><br/><div class="buttontext">{{.TagNum}}</div></div><div class="button"><div class="buttontitle">Commits</div><br/><div class="buttontext">{{.CommitNum}}</div></div><div class="button"><div class="buttontitle">Grove View</div><br/><div class="buttontext">{{.SHA}}</div></div>
        </div>
        
        <div class="readmebitch">
        	<script type="text/javascript">
            	if (document.URL.split('#')[1] != "readme") {
					document.getElementsByClassName('readmebitch').item(0).innerHTML = "<a href='http://{{.Host}}{{.Path}}#readme' class='hideornot'>Display README file</a>";
					}
				else document.getElementsByClassName('readmebitch').item(0).innerHTML = "<a href='http://{{.Host}}{{.Path}}/' class='hideornot'>Hide README file</a>";
            </script>
        	
        <a href="http://{{.Host}}{{.Path}}/tree" class="hideornot">View directory tree</a>
           
        </div>
        
		<div id="readme" class="md">
			{{.Content}}
		</div>
        
		<div class="log">
			{{range $l := .Logs}}
			<a href="#{{$l.SHA}}"><div class="loggy{{$l.Classtype}}" id="{{$l.SHA}}">
				{{$l.Author}} &mdash; 
				<span class="SHA{{$l.Classtype}}">
					{{$l.SHA}}
				</span> &mdash; 
				{{$l.Time}} <br/><br/>
			<div class="holdem">
				<strong>{{$l.Subject}}</strong>
				<br/><br/>
				{{$l.Body}}
			</div>
        </div></a>
		{{end}}
        
        <div class="version">
        	Version {{.Version}}
        </div>
        
	</body>
</html>

