<!DOCTYPE html>
<html>
	<head>
		<title>{{.Owner}} [Grove]</title>
		<link rel="stylesheet" href="/res/style.css"/>
        <script type="text/javascript" src="/res/highlight.js"></script>
		<script type="text/javascript">
		hljs.tabReplace = '    ';
		hljs.initHighlightingOnLoad();
        </script>
	</head>
	<body>
    
		<div class="bigtitle">
			<h5><a href="{{.URL}}/..">.. / </a>{{.InRepoPath}}{{.Location}}</h5>
		</div>
		
        <div class="wrapper">
        <table>
        	<th>Branch</th>
            <th>Tags</th>
            <th>Commits</th>
            <th>SHA</th>
            <tr>
            	<td>{{.Branch}}</td>
                <td>{{.TagNum}}</td>
                <td>{{.CommitNum}}</td>
                <td>{{.SHA}}</td>
            </tr>
        </table>

		<input type="text" value="http://{{.Host}}{{.Path}}{{.GitDir}}" class="bar" onClick="select();"/>
        
        <div class="buttons">
        	<a href="{{.URL}}/tree/{{.Query}}" class="button">View directory tree</a>
            <div class="readmebitch">
            <script type="text/javascript">
            	if (document.URL.split('#')[1] != "readme") {
					document.getElementsByClassName('readmebitch').item(0).innerHTML = "<a href='{{.URL}}{{.Query}}#readme' class='button'>Display README file</a>";
					}
				else document.getElementsByClassName('readmebitch').item(0).innerHTML = "<a href='http://{{.Host}}{{.Path}}{{.Query}}' class='button'>Hide README file</a>";
            </script>
            </div>
        </div>
        
        <div id="readme" class="md">
			{{.Content}}
		</div>
		
        <div class="buttons">
        	<h4 class="left">Log</h4>
        </div>
		<div class="log">
			{{range $l := .Logs}}
			<a href="#{{$l.SHA}}"><div class="loggy{{$l.Classtype}}" id="{{$l.SHA}}">
            	<div class="logtitle">
				{{$l.Author}} &mdash; 
				<span class="SHA{{$l.Classtype}}">
					{{$l.SHA}}
				</span> &mdash; 
				{{$l.Time}} <br/><br/>
                    <strong>{{$l.Subject}}</strong></div>
                    <div class="holdem"><div class="notcenter">
                    <br/><br/>
                    {{$l.Body}}</div>
				</div>
        	</div></a>
            {{end}}
        </div>
        
		<div class="version">
			<a href="https://github.com/SashaCrofter/grove">
				Version {{.Version}}
			</a>
		</div>
	</body>
</html>

