<html>
	<head>
		<title>{{.Owner}} [Grove]</title>
		<style type="text/css"> {{.CSS}} </style>
	</head>
	<body>
    
		<div class="title">
			<a href="http://{{.Host}}{{.Path}}/tree{{.Location}}../">.. / </a>{{.BasePath}}/tree{{.Location}}
			<div class="cloneme">
				http://{{.Host}}{{.Path}}/{{.GitDir}}
			</div>   
		</div>
		
		<div class="wrapper">
			<div class="button"><div class="buttontitle">Developer's Branch</div><br/><div class="buttontext">{{.Branch}}</div></div><div class="button"><div class="buttontitle">Tags</div><br/><div class="buttontext">{{.TagNum}}</div></div><div class="button"><div class="buttontitle">Commits</div><br/><div class="buttontext">{{.CommitNum}}</div></div><div class="button"><div class="buttontitle">Grove View</div><br/><div class="buttontext">{{.SHA}}</div></div>
        </div>
        
		<div class="view-dir">
			<ul>
				{{range $l := .List}}
					<a href="http://{{.Host}}{{.Path}}/{{.Type}}/{{.Location}}{{.URL}}"><li class="li-long">{{.Name}}</li></a>
				{{end}}
			</ul>
		</div>
        
        <div class="version">
          <a href="https://github.com/SashaCrofter/grove">
        	Version {{.Version}}
          </a>
        </div>
	</body>
</html>

